@model FQ25L008_GestContacts.Models.Forms.CreateContactForm


<div class="container">
    <div class="row">
        <div class="col-md-6">
            @using(Html.BeginForm())
            {
                @if(ViewContext.ModelState.ErrorCount > 0)
                {
                    <div>
                        <p class="alert-danger">Il y a @ViewContext.ModelState.ErrorCount erreur(s) dans mon formulaire</p>
                    </div>
                    @Html.ValidationSummary(true, null, new { @class = "alert-danger" })
                }

                <div class="form-group">
                    @Html.LabelFor(m => m.Nom)
                    <div>
                        @Html.TextBoxFor(m => m.Nom, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Nom, null, new { @class = "alert-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Prenom)
                    <div>
                        @Html.TextBoxFor(m => m.Prenom, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Prenom, null, new { @class = "alert-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    <div>
                        @Html.TextBoxFor(m => m.Email, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "alert-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Tel)
                    <div>
                        @Html.TextBoxFor(m => m.Tel, null, new { @class = "form-control" })
                    </div>
                </div>
                <hr />
                <div>
                    <input type="submit" value="Envoyer" class="btn btn-primary" />
                </div>
            }
        </div>  
    </div>
</div>
